<app-navbar></app-navbar>
<router-outlet></router-outlet>

<div class="toolbar" role="banner">
    <a href="index.html"><img class="image" width="40" alt="Angular Logo" src="../../assets/Logo-white.svg"/></a>
    <span class="findr">Findr</span>
    <div class="spacer"></div>
    <button class="tablink" id="defaultOpen" routerLink="login">Login</button>
    <button class="tablink" id="defaultOpen" routerLink="signup">sign up</button>
    <button class="tablink" id="defaultOpen" routerLink="admin">admin</button>
</div>

