#navbar{
    background: url(..\..\assets\sidebarbackground.png);
    outline-color: gray;
    outline: auto;
    margin-left: 20px;
    max-width: 300px;
    padding-bottom: 10%;
}

#navbarbutton{
    background-color: aquamarine;
    font-family: 'Calibri', 'sans-serif';
    outline: auto;
    outline-color: darkcyan;
    text-align: center;
    max-width: 300px;
    min-width: 100px;
    max-height: 100px;
    min-height: 50px;
}
#navbarbutton:hover{
  background-color: aqua;
}
