.navbar{
    position: absolute;
    padding-top: 60px;
    /* background-color: #1f1f23; */
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(49, 49, 49));
    border: inset 5px rgb(73, 73, 73);
    border-radius: 10px;
    height: 100%;
    width: 300px;
    color: white;
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
} 

.navbarbutton{
    cursor: pointer;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(49, 49, 49));
    border-radius: 10px;
    border: inset 1px rgb(73, 73, 73);
    text-align: center;
    max-width: 300px;
    min-width: 100px;
    max-height: 100px;
    min-height: 50px;
    
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.navbarbutton:hover{
  background-image: linear-gradient(to bottom right, rgb(45, 45, 45) 10%, rgb(95, 95, 95) 100%);
  animation: nvb-button-Animation 2s ease-in-out infinite backwards;
}

@keyframes nvb-button-Animation{
  0%{
    filter: brightness(100%)
  }
  70%{
    filter: brightness(150%)
  }
  100%{
    filter: brightness(100%);
  }
}
