.navbar{
    position: fixed;
    padding-top: 60px;
    /* background-color: #1f1f23; */
    background: linear-gradient(to right, #1f1f23, #353538);
    border: 5px solid #1f1f23;
    border-radius: 10px;
    height: 100%;
    width: 300px;
    color: white;
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: auto;
} 
