<header>
    <a routerLink="/login"><img class="image" width="40" alt="Angular Logo" src="../../assets/Logo-white.svg"/></a>
    <span class="findr">Findr</span>
    <div class="spacer"></div>
    <button class="bigtablink" id="defaultOpen" routerLink="login">Login</button>
    <button class="bigtablink" id="defaultOpen" routerLink="signup">Sign Up</button>
    <button class="bigtablink" id="defaultOpen" routerLink="admin">Admin</button>
    <input type="checkbox" id="showmenu" class="showmenu">
    <nav>
        <ul>
            <li><button class="tablink" id="defaultOpen" routerLink="login">Login</button></li>
            <li><button class="tablink" id="defaultOpen" routerLink="signup">Sign Up</button></li>
            <li><button class="tablink" id="defaultOpen" routerLink="admin">Admin</button></li>
        </ul>
    </nav>
    <label for="showmenu" class="showmenulabel">
        <span></span>
    </label>
</header>