<div class="content">
    <div class="admin-tab">
        <div class="header_text">
            <h1 class="text">REPORTED USERS
                <!--&#8674;-->
            </h1>
        </div>
        <div class="reported-users-container">
            <div class="toolbar">
                <div class="recordsperpage">
                    <select #waarde name="" id="" class="record_amount" (change)="changeEvent(waarde.value)">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20" selected>20</option>
                        <option value="50">50</option>
                        <option value="1"> All</option>
                    </select>
                    <p>records per page
                    </p>
                </div>
                <div class="search">
                    <p class="search-text"> Search:</p>
                    <input class="search-input" type="search" [(ngModel)]="searchText" />
                </div>
            </div>
            <hr class="line">
            
            <div class="report-user-view">
                <b class="column-name" (click)="sortByName()">
                    <p class="tableheader">Name</p>
                    <img class="arrow" *ngIf="nameSorting" src="../../../assets/SVG/arrow.svg">
                    <img class="navbaricon" *ngIf="!nameSorting" src="../../../assets/SVG/sort_icon.svg">

                    <img class="navbaricon" *ngIf="nameSorting" [ngClass]="sortedByName ? 'navbaricon2' : 'navbaricon'"
                        src="../../../assets/SVG/sort_button.svg">
                </b>
                <b class="column-name" (click)="sortByEmail()">
                    <p class="tableheader">Email</p>
                    <img class="arrow" *ngIf="emailSorting" src="../../../assets/SVG/arrow.svg">
                    <img class="navbaricon" *ngIf="!emailSorting" src="../../../assets/SVG/sort_icon.svg">
                    <img class="navbaricon" *ngIf="emailSorting" [ngClass]="sortedByEmail ? 'navbaricon2' : 'navbaricon'"
                        src="../../../assets/SVG/sort_button.svg">
                </b>
                <b class="column-name" (click)="sortByWarning()">
                    <p class="tableheader">Warning</p>
                    <img class="arrow" *ngIf="warningSorting" src="../../../assets/SVG/arrow.svg">
                    <img class="navbaricon" *ngIf="!warningSorting" src="../../../assets/SVG/sort_icon.svg">
                    <img #icon class="navbaricon" *ngIf="warningSorting"
                        [ngClass]="sortedByWarning ? 'navbaricon2' : 'navbaricon'" src="../../../assets/SVG/sort_button.svg">
                </b>
                <b class="column-name" (click)="sortByBan()">
                    <p class="tableheader">Ban</p>
                    <img class="arrow" *ngIf="banSorting" src="../../../assets/SVG/arrow.svg">
                    <img class="navbaricon" *ngIf="!banSorting" src="../../../assets/SVG/sort_icon.svg">
                    <img #icon class="navbaricon" *ngIf="banSorting"
                        [ngClass]="sortedByBan ? 'navbaricon2' : 'navbaricon'" src="../../../assets/SVG/sort_button.svg">
                </b>
                <b class="actions">
                    <p class="tableheader">Actions</p>
                </b>
            </div>

            <hr class="line">
            <ng-container *ngFor="let user of users | tablefilter:keys:searchText |  slice:0:max; index as i" >
                <all-user [ngStyle]="{'background-color': i % 2 == 1 ? 'rgba(23,27,49,0.3)' : '#212b46' }"
                    [name]=user.name [email]=user.email [warning]=user.warning [ban]=user.ban

                    appHighlightSearch [searchedWord]="searchText" [content]="user" [keys]="keys"
                    ></all-user>
                <hr class="line">
            </ng-container>
        </div>

    </div>
</div>