#background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: url("https://cdn.discordapp.com/attachments/689448146358894665/838768166816579634/photo-1579546929662-711aa81148cf.png"); 
    /* background-image: linear-gradient(-180deg, #f0f3f6, #000 90%); */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login {
    background: white;
    height: 700px;
    width: 425px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding-top: 1%;
    box-shadow: 2px 2px 2px 2px black;
}

.username{
    padding-left: 5px;
    border: 2px solid green;
    height: 6%;
    width: 75%;
    margin-top: 5%;
    box-sizing: border-box;
}

.email{
    padding-left: 5px;
    border: 2px solid green;
    height: 6%;
    width: 75%;
    margin-top: 10px;
    box-sizing: border-box;
}

.password{
    padding-left: 5px;
    border: 2px solid green;
    height: 6%;
    width: 75%;
    margin-top: 10px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.loginbuttons{
    margin-top: 10%;
    height: 15%;
    width: 75%;
    display: flex;
    flex-direction: column;
}


.signup{
    background-color: #18d8e5;
    border: 1px solid black;
    font-size: 125%;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 45%;
}

.alreadyHaveAnAccount {
    margin-top: 2px;
    font-weight: bold;
    color: #468aba;
    width: 75%;
    font-size: 18px;
    text-align: right;
}

.alreadyHaveAnAccount:hover{
    color: #ba7646;
}

.account{
    font-size: 18px;
}
