.email{
    padding-left: 5px;
    border: 2px solid green;
    height: 6%;
    width: 75%;
    margin-top: 10px;
    box-sizing: border-box;
}

.loginbuttons{
    margin-top: 10%;
    height: 15%;
    width: 75%;
    display: flex;
    flex-direction: column;
}


.signup{
    background-color: #18d8e5;
    border: 1px solid black;
    font-size: 125%;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 45%;
}

.alreadyHaveAnAccount {
    margin-top: 2px;
    font-weight: bold;
    color: #468aba;
    width: 75%;
    font-size: 18px;
    text-align: right;
}

.alreadyHaveAnAccount:hover{
    color: #ba7646;
}

.account{
    font-size: 18px;
}
