<div id="background">
    <div class="login">
        <div class="image"></div>
        <img src="../../assets/cc5bb60e2749d5e76174af56fe9e25d6.png" width="175" height="175" >
        <h2>Welcome {{name}}!</h2>
        
        <input class="username" [(ngModel)]="name" type="text" placeholder="Username"/>
        <input class="email" type="text" placeholder="email"/>
        <input class="password" type="password" placeholder="Password"/>
        <input class="password" type="password" placeholder="repeat password"/>

        <div class="loginbuttons">
            <button class="signup"> Sign up</button>
        </div>
        <div class="account" >
        Already have an account?
        <a class="alreadyHaveAnAccount" href="http://www.hanze.nl" target="_blank">Sign in</a>
        </div>
    </div>
</div>