
<div class="adminbar" [@show]="state">
    <input type="checkbox" id="showmenu" class="showmenu" (click)="this.collapse()">

    <label for="showmenu" class="showmenulabel">
        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
    </label>
    <div class="logoholder" [@showchild]="state">
        <img class="logo" src="../../../assets/SVG/Logo-white.svg" alt="Logo">
    </div>
    <div [@showchild]="state">
        <button routerLink="admin/reportedusers">

            <div class="navbartext">
                Reported Users
            </div>
        </button>
        <button routerLink="admin/supporttickets">

            <div class="navbartext">
                Support Tickets
            </div>
        </button>
        <button routerLink="admin/games">
            <div class="navbartext">
                Games
            </div>
        </button>
        <button routerLink="admin/users">
            <div class="navbartext">
                Users
            </div>
        </button>
    </div>
</div>
