<div class="adminbar">
    <div class="logoholder">
        <img class="logo" src="../../../assets/Logo-white.svg">
    </div>
    <button class="navbarbutton" routerLink="admin/reportedusers">
        
        <div class="navbartext">
            Reported Users
        </div>
    </button>
    <button class="navbarbutton" routerLink="admin/supporttickets">
        
        <div class="navbartext">
            Support Tickets
        </div>
    </button>
    <button class="navbarbutton" routerLink="admin/games">
        <div class="navbartext">
            Games
        </div>
    </button>
    <button class="navbarbutton" routerLink="admin/users">
        <div class="navbartext">
            Users
        </div>
    </button>
</div>