<div class="adminbar" [@show]="state" (click)="kermit()">
    <div class="logoholder">
        <img class="logo" src="../../../assets/SVG/Logo-white.svg"  alt="Logo">
    </div>
    <button class="navbarbutton" [@state]="state" routerLink="admin/reportedusers">

        <div class="navbartext" >
            Reported Users
        </div>
    </button>
    <button class="navbarbutton" routerLink="admin/supporttickets">

        <div class="navbartext">
            Support Tickets
        </div>
    </button>
    <button class="navbarbutton" routerLink="admin/games">
        <div class="navbartext">
            Games
        </div>
    </button>
    <button class="navbarbutton" routerLink="admin/users">
        <div class="navbartext">
            Users
        </div>
    </button>
    <button class="navbarbutton" routerLink="admin/mytickets">
        <div class="navbartext">
            My tickets
        </div>
    </button>
</div>
