<div class="content">
    <div class="friend-tab" #friendTab>
        <div class="tab-buttons">
            <button class="friends friendButton" #friendTabButton>Friends</button>
            <button class="blocked-users" (click)="showBlockedUserTab(blockedUserTab, friendTab)">Blocked Users</button>
            <button (click) = "sendFriendRequest()" >send friend request</button> <!-- temporary -->
        </div>

        <h2>Friends</h2>
        <!-- pic]="friend.Profile_picture" -->
        <app-friend *ngFor="let friend of friends" [friend]="friend.Username" [friendID] = "friend.User_ID" (refresh)="refreshFriendInfo($event)"></app-friend>
        <div class="friend-request-container">

            <h2>Friend Requests</h2>
            <app-friendrequests *ngFor="let friend of friendRequests" [friend]="friend.Username" [friendID] = "friend.User_ID" (refresh)="refreshFriendInfo($event)"></app-friendrequests>
        </div>
    </div>

    <div class="blocked-user-tab" #blockedUserTab>
        <div class="tab-buttons">
            <button class="friends" (click)="showFriendTab(blockedUserTab, friendTab)">Friends</button>
            <button class="blocked-users blockedButton" #blockedUserButton>Blocked Users</button>
        </div>
        <h2>Blocked Users</h2>
        <app-blockedusers *ngFor="let user of blockedUsers" [user]="user.Username" [userID] = "user.User_ID" (refresh)="refreshFriendInfo($event)"></app-blockedusers>
    </div>
</div>
