.gradient-background {
    background: #09143b;
    background-image: url("../../../assets/SVG/waves2.svg"), url("../../../assets/SVG/stars.svg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: auto;
}

.red {
    overflow: hidden;
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    padding-top: 10%;
    padding-right: 10%;
    justify-content: flex-end;
    box-sizing: border-box;
}

.login {
    height: 550px;
    min-height: 500px;
    width: 425px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    margin-top: 5%;
    padding-top: 1.5%;
    box-sizing: border-box;
    z-index: 10;
}

.inputs {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

form {
    width: 75%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    transition: background-color 50000000s;
}

input:-webkit-autofill::first-line {
    font-size: 24px;
}

.inputfields {
    width: 100%;
    height: 45px;
    padding-left: 10px;
    font-size: 24px;
    border-radius: 5px;
    border: 1px solid rgb(41, 57, 176);
    background-color: #1b2956;  
    color: white;
    box-sizing: border-box;
    margin-top: 3%;
}

input:focus{
    outline: none;
}



.actions {
    width: 75%;
    margin-top: 15px;
    display: flex;
    align-items: stretch;
    color: white;
}

.remember_me {
    flex: 1;
    display: flex;
    align-items: center;
}

.remember {
    margin-right: 10px;
}

.forgot {
    display: flex;
    align-items: center;
}

a {
    color: #468aba;
    text-decoration: none;
    font-weight: bold;
    color: #468aba;
}

a:hover{
    color: #B01030;
}

.loginbuttons{
    flex: 0.1;
    margin-top: 10%;
    width: 75%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

button {
    cursor: pointer;
    background: #B01030;
    height: 50px;
    width: 100%;
    border: 1px solid rgb(140, 130, 115);;
    border-radius: 50px;
    font-size: 125%;
    color: #fff;
    font-weight: bold;    
}

button:hover {
    background: #a20026;
}

button:active{
    background: #980424;
    opacity: 0.9;
}

.account{
    color: white;
    font-size: 18px;
    margin-bottom: 5%;
}

@media (max-width: 450px){
    .login {        
        width: 95%;
        height: 95%;
        box-shadow: 0px 0px 1px 1px rgb(8, 57, 117, 0);
    }

    button {
        cursor: default;
    }
}

.space {
    clear: fix;
}
.moon-space {
    animation: rotate360 2s linear infinite;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    position: absolute;
}
.jupiter {
    width: 64px;
    animation: rotate360 30s linear infinite;
    height: 64px;
    background-color: rgba(28, 83, 142, 0.4);
    background: url("../../../assets/SVG/Jupiter.svg");
    background-size: cover;
    border-radius: 100%;
}

#Ganymedes {
    animation-duration: 21.48s;
}
#Ganymedes .moon {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Ganymede%2C_moon_of_Jupiter%2C_NASA.jpg/266px-Ganymede%2C_moon_of_Jupiter%2C_NASA.jpg");
    background-size: cover;
    animation-duration: 8s;
    width: 21px;
    height: 21px;
    left: -101px;
}
#Io {
    animation-duration: 5.31s;
}
#Io .moon {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Io%2C_moon_of_Jupiter%2C_NASA.jpg/266px-Io%2C_moon_of_Jupiter%2C_NASA.jpg");
    background-size: cover;
    width: 21px;
    height: 21px;
    left: -31px;
}
#Europa {
    animation-duration: 10.65s;
}
#Europa .moon {
    background: url("https://upload.wikimedia.org/wikipedia/commons/e/e4/Europa-moon-with-margins.jpg");
    background-size: cover;
    width: 21px;
    height: 21px;
    left: -61px;
}
#Calisto {
    animation-duration: 50.07s;
}
#Calisto .moon {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Callisto.jpg/266px-Callisto.jpg");
    background-size: cover;
    width: 21px;
    height: 21px;
    left: -181px;
}
.moon {
    background-color: rgba(28, 83, 142, 0.4);

    width: 18px;
    height: 18px;
    border-radius: 100%;
    position: absolute;
    left: -21px;
    top: 32px;
}
@keyframes rotate360 {
    from {
        transform: rotate(0deg);
   }
    to {
        transform: rotate(360deg);
   }
}
@keyframes inAndOut {
    0% {
        transform: translate(0px, 0px);
   }
    50% {
        transform: translate(-4px, -4px);
   }
    100% {
        transform: translate(0px, 0px);
   }
}

.layer1 {
    /* background: red; */
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}
   
  
.star {
    background-color:#fff;
    border-radius:50%;
    height:2px;
    position:absolute;
    width:2px;
    z-index:-1;
}
