.gradient-background {
    background: #09143b;
    background-image: url("../../../assets/SVG/waves2.svg"), url("../../../assets/SVG/stars.svg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: auto;
}

.login {
    height: 550px;
    min-height: 500px;
    width: 425px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    margin-top: 5%;
    padding-top: 1.5%;
    box-sizing: border-box;
}

.inputs {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

form {
    width: 75%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    transition: background-color 50000000s;
}

input:-webkit-autofill::first-line {
    font-size: 24px;
}

.inputfields {
    width: 100%;
    height: 45px;
    padding-left: 10px;
    font-size: 24px;
    border-radius: 5px;
    border: 1px solid rgb(41, 57, 176);
    background-color: #1b2956;  
    color: white;
    box-sizing: border-box;
    margin-top: 3%;
}

.actions {
    width: 75%;
    margin-top: 15px;
    display: flex;
    align-items: stretch;
    color: white;
}

.remember_me {
    flex: 1;
    display: flex;
    align-items: center;
}

.remember {
    margin-right: 10px;
}

.forgot {
    display: flex;
    align-items: center;
}

a {
    color: #468aba;
    text-decoration: none;
    font-weight: bold;
    color: #468aba;
}

a:hover{
    color: #B01030;
}

.loginbuttons{
    flex: 0.1;
    margin-top: 10%;
    width: 75%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

button {
    cursor: pointer;
    background: #B01030;
    height: 50px;
    width: 100%;
    border: 1px solid rgb(140, 130, 115);;
    border-radius: 50px;
    font-size: 125%;
    color: #fff;
    font-weight: bold;    
}

button:hover {
    background: #a20026;
}

button:active{
    background: #980424;
    opacity: 0.9;
}

.account{
    color: white;
    font-size: 18px;
    margin-bottom: 5%;
}

@media (max-width: 450px){
    .login {        
        width: 95%;
        height: 95%;
        box-shadow: 0px 0px 1px 1px rgb(8, 57, 117, 0);
    }

    button {
        cursor: default;
    }
}