<div class="gradient-background">
    <div class="login">
        <div class="inputs">
            <img src="../../assets/SVG/Logo-white.svg" width="175" height="175" alt="Logo" />

            <form [formGroup]="form">
                <input name="username" class="inputfields username" formControlName="username" placeholder="Username" autofocus>
                <input name="password" class="inputfields" formControlName="password" type="password" placeholder="Password">
            
            <div class="actions">
                <label class="remember_me" for="remember">
                    <input type="checkbox" class="remember" formControlName="rememberme" checked>
                    Remember me
                </label>
            
                <a class="forgot" routerLink="/forgot-password">Forgot password</a>
            </div>
            </form>
        </div>
        <div class="loginbuttons">
            <button class="login-button" (click)="login()">Login</button>
        </div>
        <div class="account">
            Don't have an account?
            <a class="no_account" routerLink="/signup">Sign Up</a>
        </div>
    </div>
</div>