.gradient-background {
    background-image: url("https://cdn.discordapp.com/attachments/689448146358894665/838768166816579634/photo-1579546929662-711aa81148cf.png"); 
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: auto;
}

.login {
    background: white;
    height: 700px;
    min-height: 400px;
    width: 425px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding-top: 1%;
    box-shadow: 2px 2px 2px 2px black;    
    margin-top: 5%;
    font-family: 'Archivo';
}

.username {
    padding-left: 5px;
    margin-left: 20px;
    margin-right:35px;
    border: 2px solid green;
    height: 40px;
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Archivo';
}

.password{
    padding-left: 5px;
    margin-left: 20px;
    margin-right:80px;
    border: 2px solid green;
    height: 40px;
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
    display: flex;
    font-family: 'Archivo';
}

.remember{
    margin-top: 10px;
    flex-direction: column;
    flex:.5;
    align-items: left;
}

a {
    text-decoration: none;
}

.forgot {
    margin-top: 2px;
    font-weight: bold;
    color: #468aba;
    width: 75%;
    font-size: 16px;
    text-align: right;
    font-family: 'Archivo';
    flex-direction: column;
    flex:.5;
    align-items: right;
}

.forgot:hover{
    color: #ba7646;
}

.loginbuttons{
    margin-top: 50%;
    height: 15%;
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    font-family: 'Archivo';
} 

.login-button{
    background: #fe1777;
    border: 1px solid black;
    font-size: 125%;
    color: #fff;
    font-weight: bold;    
    width: 100%;
    height: 50px;
    font-family: 'Archivo';
}

.login-button:hover {
    background: #17fe9e;
}

.login-button:active{
    background-color: #12c278;
}

.signup:hover {
    background: #ff1100;
}

.signup:active{
    background-color: rgb(204, 14, 0);
}

.signup{
    background-color: #18d8e5;
    border: 1px solid black;
    font-size: 125%;
    color: white;
    font-weight: bold;
    margin-top: 5%;
    width: 100%;
    height: 50px;
    font-family: 'Archivo';
}


@media (max-width: 450px){
    .login {
        
        width: 325px;
    }
}

@media (max-height: 800px) {
    .login {
        height: 600px;
    }

    .loginbuttons {
        margin-top: 45%;
    }
}
@media (max-height: 700px) {
    .login {
        margin-top: 2%;
    }
}

@media (max-height: 650px) {
    .login {
        margin-top: 2vh;
    }
} 

 
@media (max-height: 620px) {
    .login {
        margin-top: 0%;
    }
    .loginbuttons {
        margin-top: 35%;
    }
}

@media (max-height: 570px) {
    .login {
        margin-top: 0%;
        height: 100vh;
    }

    .loginbuttons {
        margin-top: 25%;
    }
}

@media (max-height: 520px)  {
    .loginbuttons {
        margin-top: 15%;
    }
}

@media (max-height: 470px)  {
    .loginbuttons {
        margin-top: 5%;
    }
}

@media (max-width: 325px) and (max-height: 800px){
    .login {
        margin-top: 0%;
        height: 100vh;
    }
}  