<div class="gradient-background">
    <div class="login">
        <div class="image" routerLink="/login"></div>
        <img src="../../assets/Logo.svg" width="175" height="175"/>
        <input [(ngModel)]="username" class="username" type="text" placeholder="Username"/>
        <input [(ngModel)]="password" class="password" type="password" placeholder="Password"/>
        <a class="forgot"  routerLink="/forgot-password">Forgot password</a>

        <div class="loginbuttons">
            <button class="login-button" (click)="login()">Login</button>
            <button class="signup" routerLink="/signup"> Sign Up</button>
        </div>
    </div>
</div>
