.game {
    text-decoration: none;
    height: 100%;
    width: 100%;
}

img {
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius:  0px;
    text-decoration: none;
    transition: 0.5s;
    box-sizing: border-box;
}

.game-info{
    display: flex;
    padding-top: 10px;
}

.info {
    width: 80%;
}

.favorite {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.not-favorite-icon {
    cursor: pointer;
    background-image: url("src/assets/SVG/star.svg");
    background-size: contain;
    background-repeat: no-repeat;
    fill: white;
    height: 27px;
    width: 27px;
}

.not-favorite-icon:hover {
    background-image: url("src/assets/SVG/favorite.svg");
}

.favorite-icon {
    cursor: pointer;
    background-image: url("src/assets/SVG/favorite.svg");
    background-size: contain;
    background-repeat: no-repeat;
    fill: white;
    height: 27px;
    width: 27px;
}

.favorite-icon:hover {
    background-image: url("src/assets/SVG/star.svg");

}

.box {
    height: 100%;
    width: 100%;
    transition: 0.5s;
    margin-bottom: 15px;
}

img:hover{
    transition: 0.5s;
    transform: rotate(2deg) scale(1.04);
    opacity: 0.75;
    border-radius: 25px;
}

.gamename{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

