<div class="game" (click)="gameclick()" >
    <div class="box">
<!--        <div class="image" matTooltip={{game.Description}} [matTooltipShowDelay]="500">-->
<!--        </div>-->
        <img class="current-profile-pic" [src]="dbPicture" formControlName="image" matTooltip={{game.Description}} [matTooltipShowDelay]="500" alt="This game picture">

        <div class="game-info">
            <div class="gamename">
                <b class="gamename" matTooltip={{game.Name}} [matTooltipShowDelay]="500" matTooltipClass="custom-tooltip">
                    {{game.Name}}
                </b>
            </div>
            {{game.Category}}
        </div>
    </div>
</div>
