.game {
    cursor: pointer;
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.image{
    background-image: url(https://www.rtlnieuws.nl/sites/default/files/styles/liggend_hoge_resolutie/public/content/images/2019/05/02/rocket-league-zephyr-crate.jpg?itok=b_af0AEk);
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    border: 2px solid cyan;
    border-radius:  0px;
    text-decoration: none;
    transition: 0.5s;
    box-sizing: border-box;
}

.game-info{
    margin-top: 10px;
}

.box {
    height: 100%;
    width: 100%;
    /*transform: scale(1) rotate(0deg);*/
    transition: 0.5s;
    margin-bottom: 15px;
}

.box:hover{
    /*transform: scale(1.21) rotate(2deg);*/
    /*opacity: 0.5;*/
}

.image:hover{
    transition: 0.5s;
    transform: rotate(2deg) scale(1.04);

    border-radius: 25px;
}

.gamename{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
