.game {
    cursor: pointer;
    text-decoration: none;
    height: 100%;
    width: 100%;
}

img {
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius:  0px;
    text-decoration: none;
    transition: 0.5s;
    box-sizing: border-box;
}

.game-info{
    margin-top: 10px;
}

.box {
    height: 100%;
    width: 100%;
    transition: 0.5s;
    margin-bottom: 15px;
}

img:hover{
    transition: 0.5s;
    transform: rotate(2deg) scale(1.04);
    opacity: 0.75;
    border-radius: 25px;
}

.gamename{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

