.current-friends{
  width: 100%;
  color: white;
  padding-left: 100px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;

}



/*.friend-requests{*/

/*}*/

/*.friend-requests-container{*/

/*}*/

/*.blocked-users{*/

/*}*/

/*.blocked-users-container{*/

/*}*/
