<div class="content">
    <div class="game-tab">
<!--        <div class="game">-->
<!--            &lt;!&ndash;    game&ndash;&gt;-->
<!--        </div>-->
        <app-game></app-game>
        <app-game></app-game>
        <app-game></app-game>
        <app-game></app-game>
        <app-game></app-game>
        <app-game></app-game>
        <app-game></app-game>
        <app-game></app-game>
        <app-game></app-game>
        <app-game></app-game>
        <app-game></app-game>
        <app-game></app-game>
        <app-game></app-game>
        <app-game></app-game>
        <app-game></app-game>
        <app-game></app-game>
        <app-game></app-game>
        <app-game></app-game>
        <app-game></app-game>
<!--        <app-game></app-game>-->
<!--        <app-game></app-game>-->
<!--        <app-game></app-game>-->
    </div>
</div>
