.game-tab {
    width: 100%;
    height: 100%;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.game {
    width: 100%;
    height: 100%;
}

@media (max-width: 450px) {
    .game-tab {
        padding-left: 50px;
    }
}
