.chat-tab {
	width: 100%;
    padding-right: 10%;
    padding-top: 2.5%;
    padding-left: 10%;
}

.chat-message {
    row-gap: 10px;
    color: white;
	width: 100%;
	height: 90%;
    display: flex;
	overflow: auto;
    flex-direction: column;
	box-sizing: border-box;
}

.chat-container {
    height: 10%;
	display: flex;
	align-items: center;
}

.chat-inputfield{
    background-color: rgba(255, 255, 255, 0.055);
    color: white;
    border-style: none;
    padding-left: 15px;
    font-size: 15px;
    width: 100%;
    height: 50px;
    border-radius: 50px;
}

input:focus{
    outline: none;
}

.chat-inputfield:hover{
    animation: 1s inputhover forwards;
}

@keyframes inputhover{
    100%{
        background-color: rgba(255, 255, 255, 0.157);
    }
}

