<div class="navbar" [ngClass]="(topbar.collapseNavbar == false) ? '' : 'navbarcollapsed'">
    <button [ngClass]="(topbar.collapseNavbar == false) ? 'item' : 'item-collapsed'"
            routerLink="profile">
        <div>
            <img src="../../../assets/SVG/Profile_settings.svg">
        </div>
        <div [ngClass]="(topbar.collapseNavbar == false) ? 'itemtitle' : 'itemtitle-collapsed'">
            Profile
        </div>
    </button>
    <button [ngClass]="(topbar.collapseNavbar == false) ? 'item' : 'item-collapsed'"
            routerLink="friends">
        <div>
            <img src="../../../assets/SVG/Friends.svg">
        </div>
        <div [ngClass]="(topbar.collapseNavbar == false) ? 'itemtitle' : 'itemtitle-collapsed'">
            Friends
        </div>
    </button>
    <button [ngClass]="(topbar.collapseNavbar == false) ? 'item' : 'item-collapsed'" routerLink="games">
        <div >
            <img src="../../../assets/SVG/games.svg">
        </div>
        <div [ngClass]="(topbar.collapseNavbar == false) ? 'itemtitle' : 'itemtitle-collapsed'">
            Games
        </div>
    </button>
    <button [ngClass]="(topbar.collapseNavbar == false) ? 'item' : 'item-collapsed'" routerLink="ticket">
        <div>
            <img src="../../../assets/SVG/report.svg">
        </div>
        <div [ngClass]="(topbar.collapseNavbar == false) ? 'itemtitle' : 'itemtitle-collapsed'">
            Support Tickets
        </div>
    </button>
    <app-friendslist></app-friendslist>
    <app-gameslist></app-gameslist>
</div>
