@import "../UserCSS/navbaritem.css";

.navbar {
    position: fixed;
    margin-top: 60px;
    top: 0;
    background: linear-gradient(to bottom right, #2a415f, #172131);
    height: calc(100% - 60px);
    width: 300px;
    color: white;
    box-sizing: border-box;
    overflow: auto;
    padding-bottom: 30px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.navbar::-webkit-scrollbar {
    display: none;
    width: 0px;
}

.navbarcollapsed {
    width: 70px;
}

.navbarcollapsed::-webkit-scrollbar {
    display: none;
    width: 0px;
}

@media (max-width: 1000px) {
    .navbar {
        width: 70px;
    }

    .navbarcollapsed {
        width: 0;
        height: 0;
        background: rgba(0, 0, 0, 0);
        overflow-x: hidden;
    }
}
