.message-container {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.pfp {
    height: 5vw;
    width: 5vw;
    min-height: 50px;
    min-width: 50px;
    max-height: 100px;
    max-width: 100px;
    background: url("../../../../assets/SVG/e,_240194160195151194160240_pixels_.svg");
    background-size: cover;
    border-color: rgb(255, 255, 255);
    border-radius: 50px;
    border-width: 0.1px;
    border-style: solid;
}

.message {
    display: flex;
    max-width: 50%;
    flex-direction: column;
    row-gap: 10px;
}

span {
    display: flex;
    align-items: center;
}

.username {
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.messagebox {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.055);
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    overflow-wrap: break-word;
    align-items: center;
    display: inline-block;
}

.messagetext {
    margin-right: 50px;
}

.timestamp {
    position: absolute;
    color: rgba(241,241,242, 0.63);
    right: 5px;
    bottom: 5px;
}
