<div class="message-container"
     [ngStyle]="(message.received) ? {'flex-direction': 'row'} : {'flex-direction': 'row-reverse'}">
    <div class="pfp" [ngStyle]="(message.received) ? {'margin-right': '20px'} : {'margin-left': '20px'}">
<!--        <img [src]="this.message.profilePicture">-->
        <img class="pfp" [src]="this.dbPicture" alt="Your profile picture">
    </div>
    <div class="message">
        <span *ngIf="message.received" [matMenuTriggerFor]="actions" class="username">{{message.username}}
                <mat-icon>more_vert</mat-icon>
        </span>

        <span *ngIf="!message.received" [matMenuTriggerFor]="actionsself" class="username">{{message.username}}
            <mat-icon>more_vert</mat-icon>
        </span>

        <div class="messagebox">
            <p class="messagetext">{{ message.message }}</p>
            <div class="timestamp">{{message.datetime | date: 'HH:mm'}}</div>

            <mat-menu #actions="matMenu">
                <button mat-menu-item (click)="sendFriendRequest()">Send friend request</button>
                <button mat-menu-item (click)="reportUser()">Report user</button>
                <button mat-menu-item (click)="blockUser()">Block user</button>
            </mat-menu>

            <mat-menu #actionsself="matMenu">
                <button mat-menu-item routerLink="/profile">Go to profile</button>
            </mat-menu>

        </div>
    </div>
</div>
