.message-container {
    display: flex;
    align-items: center;
}

* {
    /*box-sizing: border-box;*/
}

.pfp {
    height: 100px;
    min-width: 100px;
    background: url(https://cdn.discordapp.com/attachments/535443771052130317/840928723326074910/pfp.png);
    background-size: cover;
    border-color: rgb(255, 255, 255);
    border-radius: 50px;
    border-width: 0.1px;
    border-style: solid;
}

.message {
    margin-left: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.username {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.messagebox {
    box-sizing: border-box;

    width: 100%;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.055);
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    overflow-wrap: break-word;
}
/*.receivedmessagebox {*/
/*    min-height: 100px;*/
/*    min-width: 500px;*/
/*    max-height: 100px;*/
/*    max-width: 500px;*/
/*    border-radius: 15px;*/
/*    margin-left: 20px;*/
/*    background-color: rgba(255, 255, 255, 0.007);*/
/*    padding-left: 100px;*/
/*    display: flex;*/
/*    transform: scalex(-1);*/
/*}*/

/*.receivedmessage {*/
/*    min-height: 100px;*/
/*    min-width: 500px;*/
/*    max-height: 100px;*/
/*    max-width: 500px;*/
/*    margin-left: 10%;*/
/*    align-items: center;*/
/*    display: flex;*/
/*    transform: scalex(-1);*/
/*}*/

/*.receivedusername {*/
/*    padding-top: 50px;*/
/*    margin-left: 15%;*/
/*    color: rgb(255, 255, 255);*/
/*    font-family: Arial, Helvetica, sans-serif;*/
/*}*/

/*@keyframes mirror-message {*/
/*    0% {*/
/*        transform: scalex(1);*/
/*    }*/
/*    100% {*/
/*        transform: scalex(-1);*/
/*    }*/
/*}*/

/*@keyframes you-spin-me-right-round {*/

/*    100% {*/
/*        transform: rotate(720deg);*/

/*        filter: hue-rotate(720deg);*/
/*    }*/
/*}*/

/*@media (max-width: 1200px) {*/
/*    .messagebox {*/
/*        min-width: 50px;*/
/*        max-width: 200px;*/
/*        min-height: 40px;*/
/*        max-height: 40px;*/
/*    }*/

/*    .receivedmessagebox {*/
/*        min-width: 50px;*/
/*        max-width: 200px;*/
/*        transform: scalex(1);*/
/*        padding-left: 10px;*/
/*        min-height: 40px;*/
/*        max-height: 40px;*/
/*    }*/

/*    .message {*/
/*        min-height: 50px;*/
/*        max-height: 50px;*/
/*        max-width: 50%;*/
/*    }*/

/*    .receivedmessage {*/
/*        transform: scalex(1);*/
/*        margin-left: 0px;*/
/*        max-width: 20%;*/
/*    }*/

/*    .pfp {*/
/*        min-height: 12vw;*/
/*        min-width: 12vw;*/
/*        max-height: 12vw;*/
/*        max-width: 12vw;*/
/*    }*/

/*    .message-text {*/
/*        font-size: 100%;*/
/*    }*/

/*    .username {*/
/*        margin-left: 5%;*/
/*        padding-top: 5px;*/
/*    }*/

/*    .receivedusername {*/
/*        padding-top: 5px;*/
/*        margin-left: 5%;*/
/*    }*/
/*}*/



