<div class="current-friends-container">
    <div class="friend-container">
        <div>
            <img [src]="pic">
        </div>
        <div class="friend-name">
            <span>{{friend}}</span>
            <div class ="status">
                <div class="status-icon" [ngStyle]="{'background-color': status === 'Offline' ? 'red' : 'green'}"></div>
                {{status}}
            </div>
        </div>
    </div>

    <div class="friend-buttons">
        <button class="chat" (click)="startChat()">Start Chat</button>
        <button class="delete" (click)="deleteFriend()">Delete Friend</button>
        <button class="block" (click)="blockFriend()">Block Friend</button>
    </div>
</div>

