<div class="current-friends-container">
  <div class="friend-container">
    <div class="profile-pic">
      <img src="https://cdn.discordapp.com/attachments/833684306462507011/841030625955676160/image.png">
    </div>
  </div>
  <p class="friend-name">{{friend}}</p>

  <div class="friend-buttons">
    <button class="chat" (click)="startChat()">Start Chat</button>
    <button class="delete" (click)="deleteFriend()">Delete Friend</button>
    <button class="block" (click)="blockFriend()">Block Friend</button>
  </div>
</div>
