<div class="current-friends-container">
    <div class="friend-container">
        <div>
            <img src="https://cdn.discordapp.com/attachments/833684306462507011/841030625955676160/image.png">
        </div>
        <div class="friend-name">
            <span>{{friend}}</span>
            <div class ="status">
                <div class="status-icon"></div>
                Online
            </div>
        </div>
    </div>

    <div class="friend-buttons">
        <button class="chat" (click)="startChat()">Start Chat</button>
        <button class="delete" (click)="deleteFriend()">Delete Friend</button>
        <button class="block" (click)="blockFriend()">Block Friend</button>
    </div>
</div>

