.current-friends-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.friends-container {
  justify-content: left;
  align-items: start;
  margin-right: 20px;
  display: flex;
  flex: 1;
}

.friend-name {
  font-size: 18px;
  margin-right: 20px;
  margin-left: 20px;
  flex: 1;
}

.friend-buttons {
  /* background-color: yellow; */
  margin-left: 200px;
  flex: 1;
  margin-right: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

img {
  width: 50px;
  border-radius: 50%;
}

/* .profile-pic{
} */

button {
  color: white;
  font-family: "Archivo";
  background-color: rgba(120, 178, 255, 0.164);
  border: none;
  outline: none;
  border-radius: 7px;
  height: 35px;
  margin-left: 20px;
}

button:hover {
  background-color: rgb(80, 141, 158);
}

button:active {
  background-color: rgba(80, 141, 158, 0.5);
}
