<div class="red">
    <div class="space">
        <div class="moon-space" id="Ganymedes">
            <div class="moon">

            </div>
        </div>
        <div class="moon-space" id="Io">
            <div class="moon">

            </div>
        </div>
        <div class="moon-space" id="Europa">
            <div class="moon">

            </div>
        </div>
        <div class="moon-space" id="Calisto">
            <div class="moon">

            </div>
        </div>
        <div class="jupiter">

        </div>
    </div>
</div>