<div class="gradient-background">
    <div class="signup-form">
        <div class="image"></div>
        <img src="../../assets/SVG/Logo-white.svg" width="175" height="175" routerLink="/login">
        <h2>Welcome {{ name}}!</h2>

        <input class="email" type="text" placeholder="email" />
        <input class="username" [(ngModel)]="name" type="text" placeholder="Username" />
        <input class="password" type="password" placeholder="Password" />
        <input class="password" type="password" placeholder="Confirm password" />

        <div class="loginbuttons">
            <button class="signup"> Sign Up</button>
        </div>
        <div class="account">
            Already have an account?
            <a class="alreadyHaveAnAccount" routerLink="/login">Sign In</a>
        </div>
    </div>
</div>