<div class="adminrow">
    <app-tabledata [data]="item.Username" [key]="'Username'"></app-tabledata>
    <app-tabledata [data]="item.Email" [key]="'Email'"></app-tabledata>
    <app-tabledata [data]="item.Warnings" [key]="'Warnings'"></app-tabledata>
    <app-tabledata [data]="item.Banned" [key]="'Banned'"></app-tabledata>
    <div class="actions">
        <div class="button-container">
            <div class="buttonview">
                <button (click)="warnUser()">
                    <div style="font-size: 18px; color: yellow;">
                        &#9888;
                        <span>Warning</span>
                    </div>
                </button>
            </div>
            <div *ngIf="!item.Banned" class="buttonview">
                <button (click)="banUser()">
                    <div style="font-size: 18px; color: red;">
                        &#8856;
                        <span>Ban</span>
                    </div>
                </button>
            </div>
        </div>
        <div class="mobileHeader">
            <p><b>Actions:</b></p>
        </div>
    </div>
</div>
