@import "../../../../adminrowview.css";

app-tabledata {
    width: 22%;
}

.actions {
    width: 12%;
}

@media (max-width: 850px) {
    app-tabledata {
        width: 100%;
    }

    .actions {
        width: 100%;
    }
}
