<div class="report-user-view">
    <div class="column-view">
        <p>{{date}}
        </p>
    </div>
    <div class="column-view">
        <p>{{time}}</p>
    </div>

    <div class="column-view">
        <p>{{name}}</p>
    </div>
    <div class="column-view">
        <p>{{offense}}</p>
    </div>
    <div class="actions">
        <div class="button-container">
            <button class="log-view">
                <div style="font-size: 18px;">
                    &#9776;
                    <span>View logs</span>
                </div>
            </button>
            <button class="warning-view">
                <div style="font-size: 18px; color: yellow;">
                    &#9888;
                    <span>Warning</span>
                </div>
            </button>
            <button class="ban-view">
                <div style="font-size: 18px; color: red;">
                    &#8856;
                    <span>Ban</span>
                </div>
            </button>
            <button class="dismiss-view" (click)="delete(name, offense)">
                <div style="font-size: 18px; color: lightgray;">
                    <img src="../../../../assets/SVG/delete.svg" style="width: 20px; height: 20px;"/>
                    <span>Dismiss</span>
                </div>
            </button>
        </div>
    </div>
</div> 