<div class="adminrow">
    <app-tabledata [data]="item.Date" [key]="'Date'"></app-tabledata>
    <app-tabledata [data]="item.Time" [key]="'Time'"></app-tabledata>
    <app-tabledata [data]="item.Name" [key]="'Username'"></app-tabledata>
    <app-tabledata [data]="item.Offense" [key]="'Reason'"></app-tabledata>

    <div class="actions">
        <div class="field button-container">
            <div class="buttonview" (click)="openViewLog(this)">
                <button>
                    <div style="font-size: 18px;">
                        &#9776;
                        <span>View logs</span>
                    </div>
                </button>
            </div>
        </div>
        <div class="mobileHeader">
            <p><b>Actions:</b></p>
        </div>
    </div>
</div>
