@import "../../../../adminrowview.css";

app-tabledata {
    width: 17%;
}

.actions {
    width: 32%;
}

@media (max-width: 850px) {
    app-tabledata {
        width: 100%;
    }

    .actions {
        width: 100%;
    }
}
