<hr class="friends-list-line">
<div class="friendslist-title">
    Recent Friends
</div>
<hr class="friends-list-line">

<button [ngClass]="(topbar.collapseNavbar == false) ? 'friends-list-button' : 'friends-list-button-collapsed'"
        *ngFor="let friend of appService.friends.slice(0, sliceAmount)" (click)="startChat(friend.User_ID)">
    <div [ngClass]="(topbar.collapseNavbar == false) ? 'navbaricondiv' : 'navbaricondiv-collapsed'">
        <img [ngClass]="(topbar.collapseNavbar == false) ? 'navbaricon' : 'navbaricon-collapsed' "
             [src]=friend.Profile_picture>
    </div>
    <div [ngClass]="(topbar.collapseNavbar == false) ? 'friendname' : 'friends-title-collapsed'">
        {{friend.Username}}
    </div>
</button>

<div>
    <button [ngClass]="(topbar.collapseNavbar == false) ? 'see-more-button' : 'see-more-button-collapsed'"
            (click)="toggleList()">{{ showMoreText }}</button>
</div>
