.image{
    background-image: url(https://www.rtlnieuws.nl/sites/default/files/styles/liggend_hoge_resolutie/public/content/images/2019/05/02/rocket-league-zephyr-crate.jpg?itok=b_af0AEk);
    background-position: center center;
    background-size: cover;
    height: 150px;
    width: 150px;
    border: 1px solid white;
    border-radius:  0px;
    text-decoration: none;
    transition: 0.5s;
}

.game-name{
    text-decoration: none;
    color: white;
    width: 150px;
    text-align: center!important;
}

.game {
    text-decoration: none;
    margin-right: 200px;
}

.box {
    transform: scale(1) rotate(0deg);
    transition: 0.5s;
}
.box:hover{
    transform: scale(1.21) rotate(2deg);
    opacity: 0.5;
}

.image:hover{
    border-radius: 25px;
}