<app-jupiter></app-jupiter>
<div class="gradient-background">
    <div class="form-container">
        <div class="inputs">
            <img src="../../assets/SVG/Logo-white.svg" width="175" height="175" routerLink="/login">
            <form>
                <input class="inputfields" type="password" placeholder="New password" />
                <input class="inputfields" type="password" placeholder="Confirm password" />
                <div class="loginbuttons">
                    <button>Change password</button>
                </div>
            </form>
        </div>

        <div class="account">
            <a class="alreadyHaveAnAccount" routerLink="/login">Sign In</a>
        </div>
    </div>
</div>
