<app-jupiter></app-jupiter>
<div class="gradient-background">
    <div class="form-container">
        <div class="inputs">
            <img src="../../assets/SVG/Logo-white.svg" width="175" height="175" routerLink="/login">
            <form [formGroup]="form">
                <input class="inputfields" formControlName="password" type="password" placeholder="New password" autofocus/>

                <div *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)">
                    <span *ngIf="form.controls['password'].errors.required">Password is required.</span>
                    <span *ngIf="form.controls['password'].errors.minlength">Password must be at least 8 characters.</span>
                </div>

                <input class="inputfields" formControlName="confirm" type="password" placeholder="Confirm password" />

                <div *ngIf="form.controls['confirm'].invalid && (form.controls['confirm'].dirty || form.controls['confirm'].touched)">
                    <span *ngIf="form.controls['confirm'].errors.required">Confirm password is required.</span>
                    <span *ngIf="form.controls['confirm'].errors.mustMatch">Passwords must match.</span>
                </div>

                <div class="loginbuttons">
                    <button>Change password</button>
                </div>
            </form>
        </div>

        <div class="account">
            <a class="alreadyHaveAnAccount" routerLink="/login">Sign In</a>
        </div>
    </div>
</div>
