<meta name="Description" content="This page is for displaying games">
<div class="admincontent">
    <div class="new-game-tab" *ngIf="addingNewGame">
        <app-admintopbar [title]="'GAMES &#8674; NEW'"></app-admintopbar>
        <div class="admin-view-container">
            <app-newgame [returnToGames]="getReturnToGames"></app-newgame>
        </div>
    </div>
    <div class="admintab" *ngIf="!addingNewGame">
        <app-admintopbar [title]="'GAMES'"></app-admintopbar>
        <div class="admin-view-container">
            <button class="addgame" (click)="addingNewGame = !addingNewGame">
                <div style="font-size: 18px; display: flex" >
                    <img src="../../../../assets/SVG/add.svg" style="width: 20px; height: 20px;" alt="Edit" />
                    <span style="margin-top: 1px; margin-left: 10px; font-size: 15px;">Add game</span>
                </div>
            </button>
            <hr class="line">

            <div class="records-and-search">
                <div class="recordsperpage">
                    <p>Records per page:</p>
                    <select #waarde name="" id="" class="record_amount" (change)="changeEvent(waarde.value)">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20" selected>20</option>
                        <option value="50">50</option>
                        <option value="1"> All</option>
                    </select>
                </div>
                <div class="search">
                    <input class="search-input" type="search" [(ngModel)]="searchText" placeholder="Search..." />
					<i class="fas fa-search"></i>
                </div>
            </div>
            <hr class="line">

            <app-tableheader *ngIf="isLoaded" [keys]="keys" [items]="items" [actionSize]='20' [infoSize]='26.6666666667'>
            </app-tableheader>

            <hr class="line">
            <ng-container *ngFor="let game of items | tablefilter:keys:searchText |  slice:0:max; index as i">
                <app-game [ngStyle]="{'background-color': i % 2 == 1 ? 'rgba(23,27,49,0.3)' : '#212b46' }"
                          [item]="game" [keys]="keys"
                    appHighlightSearch [searchedWord]="searchText" [content]="game" [keys]="keys"></app-game>
                <hr class="line">
				<br class="mobileBreak">
            </ng-container>
        </div>
    </div>
</div>
