<meta name="Description" content="This page is for displaying games">
<div class="content">
    <div class="new-game-tab" *ngIf="addingNewGame">
        <div class="header_text">
            <h1> GAMES
                &#8674; NEW
            </h1>
        </div>
        <div class="games-tab-content">
            <app-newgame></app-newgame>
        </div>
    </div>
    <div class="game-admin-tab" *ngIf="!addingNewGame">
        <div class="header_text">
            <h1> GAMES
            </h1>
        </div>
        <div class="games-tab-content">
            <button class="addgame" (click)="addingNewGame = !addingNewGame">
                <div style="font-size: 18px; display: flex">
                    <img src="../../../../assets/SVG/add.svg" style="width: 20px; height: 20px;" alt="Edit" />
                    <span style="margin-top: 1px; margin-left: 10px; font-size: 15px;">Add game</span>
                </div>
            </button>
            <hr class="line">

            <div class="records-and-search">
                <div class="recordsperpage">
                    <p>Records per page:</p>
                    <select #waarde name="" id="" class="record_amount" (change)="changeEvent(waarde.value)">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20" selected>20</option>
                        <option value="50">50</option>
                        <option value="1"> All</option>
                    </select>
                </div>
                <div class="search">
                    <p> Search:</p>
                    <input class="search-input" type="search" [(ngModel)]="searchText" />
                </div>
            </div>
            <hr class="line">

            <app-tableheader *ngIf="isLoaded" [keys]="keys" [items]="games" [actionSize]='0.25' [infoSize]='0.25'>
            </app-tableheader>

            <hr class="line">
            <ng-container *ngFor="let game of games | tablefilter:keys:searchText |  slice:0:max; index as i">
                <app-game [ngStyle]="{'background-color': i % 2 == 1 ? 'rgba(23,27,49,0.3)' : '#212b46' }"
                    [name]=game.name [category]=game.category [subscribercount]=game.subscribercount appHighlightSearch
                    [searchedWord]="searchText" [content]="game" [keys]="keys"></app-game>
                <hr class="line">
            </ng-container>
        </div>
    </div>
</div>