@import "../../../admintab.css";

.new-game-tab {
	width: 100%;
	display: flex;
	padding-left: 20px;
	align-items: center;
	flex-direction: column;
	font-family: "Archivo";
}

.addgame {
	cursor: pointer;
	display: flex;
	align-items: center;
	background: rgb(100, 116, 206);
	border-radius: 5px;
	color: white;
	border: 0px solid black;
	margin-bottom: 15px;
	height: 40px;
	width: 125px;
}

.addgame:hover {
	background-color: rgba(100, 116, 206, 0.822);;
}

.addgame:hover {
	background-color: rgba(100, 116, 206, 0.9);;
}



