.column-view {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
    width: 33.333333333334%;
    border-right: 1px solid black;
}

* {
    box-sizing: border-box;
}

p {
    margin-left: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mobileHeader {
    display: none;

}

@keyframes nvb-button-Animation
{
    0%
    {
        filter: brightness(100%)
    }
    70%
    {
        filter: brightness(120%)
    }
    100%
    {
        filter: brightness(100%);
    }
}


@media (max-width: 850px){

    .column-view {
        padding: 0px;
        /*border: 0px;*/
        border-right: 0px;
        height: 100%;
        width: 100%;
        justify-content: flex-end;
        flex-direction: row-reverse;
    }

    .column-view {
        border-bottom: 2px solid  rgb(100, 116, 206);
    }

    .mobileHeader{
        height: 100%;
        display: block;
        border-right: 2px solid  rgb(100, 116, 206);
        width: 35%;
    }

    .field {

        width: 60%;
    }

    p {
        margin-left: 10px;
    }

    b {
        visibility: visible;
    }
}

@media (max-width: 530px) {
    .field {
        width: 50%;
    }

    .mobileHeader{
        width: 45%;
    }
}
