.column-view {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
    width: 100%;
    border-right: 1px solid black;
}

* {
    box-sizing: border-box;
}
.description {
    text-align: left;
    margin-left: 5%;
    overflow-wrap: break-word;
}

.datatext {
    text-align: left;
    margin-left: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mobileHeader {
    display: none;
}

@media (max-width: 850px){

    .column-view {
        padding: 0px;
        /*border: 0px;*/
        border-right: 0px;
        height: 100%;
        width: 100%;
        justify-content: flex-end;
        border-bottom: 2px solid  rgb(100, 116, 206);
        flex-direction: row-reverse;
    }

    .mobileHeader{
        height: 100%;
        display: block;
        border-right: 2px solid  rgb(100, 116, 206);
        width: 35%;
    }

    .field {
        width: 60%;
    }

    .datatext {
        margin-left: 10px;
    }

    b {
        visibility: visible;
    }
}

@media (max-width: 530px) {
    .field {
        width: 50%;
    }

    .mobileHeader{
        width: 45%;
    }
}
