.admin-tab {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    font-family: "Archivo";
}

.center {
    text-align: center;
    color: white;
    border: 3px solid green;
}

.reported-users-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 10%;
    color: white;
    /* border: 2px solid #3184ad; */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.01);
}

.reported-users-container {
    color: white;
    background-color: rgba(255, 255, 255, 0.01);
    height: 30%;
    width: 50%;
    margin-top: 10px;
    /* border: 2px solid #3184ad; */
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: auto;
    box-sizing: border-box;
}

.view-support-tickets-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 10%;
    color: white;
    margin-top: 50px;
    /* border: 2px solid #3184ad; */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.01);
}

.support-ticket-container {
    color: white;
    background-color: rgba(255, 255, 255, 0.01);
    height: 30%;
    width: 50%;
    margin-top: 10px;
    padding-top: 10px;
    /* border: 2px solid #3184ad; */
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: auto;
    box-sizing: border-box;
}