<div class="support-ticket-view">
    <div class="column-view">
        <p>{{date}}
        </p>
    </div>
    <div class="column-view">
        <p>{{time}}</p>
    </div>

    <div class="column-view">
        <p class="tag">{{tag}}</p>
    </div>
    <div class="column-view">
        <p>{{status}}</p>
    </div>
    <div class="actions">
        <div class="button-container">
            <button class="view-ticket" (click)=closeTicket()>
                <div style="font-size: 18px;">
                    &#9776;
                    <span>View ticket</span>
                </div>
            </button>
            <button class="close-ticket" (click)="closeTicket()"> 
                <div style="font-size: 18px; color: lightgray;">
                    &#10005;
                    <span>Close ticket</span>
                </div>
            </button>
        </div>
    </div>
</div>