<div class="gradient-background">
    <div class="password-forgotten">
        <div class="image"></div>
        <img src="../../assets/Logo.svg" width="175" height="175" routerLink="/login" >
        <input [(ngModel)]="username" class="username" type="text" placeholder="Username"/>
        <input [(ngModel)]="password" class="password" type="password" placeholder="Password"/>

        <div class="passwordbuttons">
            <button class="password-button" (click)="checkUserNamePassword()">Login</button>
        </div>
    </div>
</div>