<app-jupiter></app-jupiter>
<div class="gradient-background">
    <div class="form-container">
        <div class="inputs">
            <img src="../../assets/SVG/Logo-white.svg" width="175" height="175">
            <h2 style="color: white">Admin Login</h2>

            <form>
                <input class="inputfields" type="text" placeholder="Username" />
                <input class="inputfields" type="password" placeholder="Password" />
                <div class="loginbuttons">
                    <button>Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
