button {
    border-radius: 10px;
}

.navbarbutton{
    cursor: pointer;
    min-width: 250px;
    min-height: 100px;
    background: linear-gradient(to bottom right, #1f1f23, #353538);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px; 
    color: white;
    border: inset 0px rgb(73, 73, 73);
    box-shadow:  5px 5px 15px 5px #1f1f23;
}

.navbarbutton:hover{
     background-color: linear-gradient(to bottom right, rgb(45, 45, 45) 10%, rgb(95, 95, 95) 100%); 
     animation: nvb-button-Animation 2s ease-in-out infinite backwards; 
  }
  
  @keyframes nvb-button-Animation{
    0%{
      filter: brightness(100%)
    }
    70%{
      filter: brightness(150%)
    }
    100%{
      filter: brightness(100%);
    }
  }