.current-friends-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.friend-name {
  font-size: 18px;
  color: white;
  margin-right: 20px;
  margin-left: 20px;
  flex: 1;
}

.friend-buttons {
  margin-left: 200px;
  flex: 1;
  margin-right: 20px;
}
img {
  width:50px;
  border-radius: 50%;
}

button{
    color: white;
    background-color: rgb(53, 49, 49, 0.0);
    border-color: #3184ad;
    border-radius: 7px;
    height: 35px;
    margin-left: 20px;
}

button:hover{
    background-color: rgb(80, 141, 158);
}

button:active{
    background-color: rgba(80, 141, 158, 0.5);
}