<form [formGroup]="form">
    <div class="imagecontainer">
        <input #imageInput type="file" placeholder="Game Name" id="upload" hidden (change)="processFile(imageInput)"
            accept="image/x-png,image/gif,image/jpeg,image/jpg,image/">

        <label *ngIf="!hasFileBeenSelected;" for="upload">
            <img class="current-profile-pic" src="../../../../assets/SVG/upload.svg" />
        </label>
        <div class="current-profile-pic">
            <label *ngIf="hasFileBeenSelected;" class="current-profile-pic" for="upload">
                <img src="{{ selectedFile.src }}">
            </label>
        </div>
        <label class="uploadimage" for="upload">Upload image</label>
       
    </div>
    <div class="field">
        <div class="fieldnamecontainer">
            <span class=fieldnamecontainer>Name:</span>
        </div>
        <div class="inputfieldcontainer">
            <input class="inputfield" type="text" placeholder="Game Name" formControlName="name">
        </div>

    </div>
    <div class="field">
        <div class="fieldnamecontainer">
            <span>Category:</span>
        </div>
        <div class="inputfieldcontainer">
            <select class="category" formControlName="category">
                <option value="RPG">RPG</option>
                <option value="Shooter">Shooter</option>
                <option value="BR">BR</option>
            </select>
            <!-- <input class="inputfield" type="text" placeholder="Game Name"> -->

        </div>
    </div>
    <div class="textareafield">
        <div class="fieldnamecontainer">
            <span>Description:</span>
        </div>
        <textarea class="inputfieldcontainer" type="text" placeholder="Game Name" formControlName="description"></textarea>
    </div>
    <div style="width: 100%;display: flex; justify-content: flex-end;">
        <button class="cancel" (click)="returnToGame('Are you sure you want to cancel?')">
            <div style="font-size: 15px; display: flex; justify-content: center; width: 100%">
                Cancel
            </div>
        </button>
        <button class="addgame" (click)="addGame()">
            <div style="font-size: 15px; display: flex; justify-content: center; width: 100%">
                Add game
            </div>
        </button>
    </div>
</form>