<div class="content">
    <div class="profile-page">
        <div class="imagecontainer">
            <input #imageInput type="file" id="upload" hidden (change)="processFile(imageInput)"
                   accept="image/x-png,image/jpeg,image/jpg,image/">

            <!--            <label *ngIf="!hasFileBeenSelected;" for="upload">-->
            <!--                <img class="current-profile-pic" src="../../../../assets/SVG/upload.svg" alt="Default profile picture"/>-->
            <!--            </label>-->

            <label for="upload">
                <img class="current-profile-pic" [src]="dbPicture" alt="Your profile picture">
            </label>

            <label class="uploadimage" for="upload">Upload image</label>
        </div>

        <div class="profile-settings">
            <div class="setting-container">
                <div class="fieldname">
                    <mat-form-field class="namechange" *ngIf="usernameIsEditable">
                        <input matInput placeholder="Enter New Username" [(ngModel)]="username">
                    </mat-form-field>
                    <span *ngIf="!usernameIsEditable">{{username}}</span>
                </div>
                <div class="actions">
                    <button *ngIf="!usernameIsEditable" (click)="onEdit()">Change Username</button>
                    <button *ngIf="usernameIsEditable" (click)="onEdit()">Submit</button>
                </div>
            </div>
            <div class="setting-container">
                <div class="fieldname">
                    <p>{{ email }}</p>
                </div>
                <div class="actions">
                    <button>Change E-mail</button>
                </div>
            </div>
            <button routerLink="/forgot-password">Change Password</button>
            <div class="warnings">
                Warnings: {{ warningCount }}
                <div class="warnings-explain">
                    Your account gets automatically banned after reaching three warnings. <br>
                    If you would like to appeal a warning, please submit a support ticket.
                </div>
            </div>
        </div>
    </div>
</div>
