.content {
  color: white;
}

.profile-page{
  height: 50%;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 50%;
}

.current-profile-pic {
  margin-left: 120px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.input-button {
  background: rgba(0, 0, 0, 0);
  margin-top: 20px;
  margin-right: 30px;
}

.input-img-button {
  margin-left: 100px;
}

.profile-details {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 50%;
  height: 50%;
}

.setting-field {
  margin-left: 25%;
  align-items: center;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
}

.user {
  flex: 0.25;
}

.user-button {
  flex: 0.75;
}

.email {
  flex: 0.25;
}

.email-button {
  flex: 0.75;
}

.password {
  flex: 0.25;
}

.password-button {
  flex: 0.75;
}

.warnings {
  color: rgba(255, 49, 49, 0.89);
  margin-top: 5px;
  flex: .8;
}

.warnings-explain{
  font-size: 12px;
  color:rgba(245, 245, 245, 0.61);
}

.change-button {
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: right;
  align-items: center;
  align-content: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}

button {
  color: white;
  font-family: "Archivo";
  font-size: 14px;
  background-color: rgba(120, 178, 255, 0.164);
  /* border-color: #3184ad; */
  border-radius: 7px;
  height: 35px;
  margin-left: 20px;
  border: none;
  outline: none;
  
}

button:hover {
  background-color: rgb(80, 141, 158);
}

button:active {
  background-color: rgba(80, 141, 158, 0.5);
}

::-webkit-file-upload-button {
  color: white;
  font-family: "Archivo";
  font-size: 14px;
  background-color: rgba(120, 178, 255, 0.164);
  border-radius: 7px;
  height: 35px;
  margin-left: 20px;
  border: none;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}

::-webkit-file-upload-button:hover {
  background-color: rgb(80, 141, 158);
}

::-webkit-file-upload-button:active {
  background-color: rgba(80, 141, 158, 0.5);
}

@media (max-width: 1200px)
{
  .profile-details{
    width: 300px;
    margin-top: 5px;
    margin-bottom: 25px;
  }

  .current-profile-pic{
    margin-left: 0px;
  }

  .input-img-button{
    margin-left: 0px;
  }

  .profile-page
  {
    
    width: 100;
  }

  .setting-field{
    margin-left: 0%;
  }

  .content{
    flex-direction: column;
  }
}

