.header {
	background: rgba(23, 27, 49, 0.3);
	display: flex;
	border-right: 1px solid black;
	border-left: 1px solid black;
}

.column-name {
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: left;
	box-sizing: border-box;
	/* width: 10%; */
	border-right: 1px solid black;
}

.arrow {
	display: flex;
	flex: 0.1;
	height: 40px;
	margin-right: -40px;
	width: 40px;
}

.navbaricon {
	flex: 0.1;
	height: 40px;
	width: 40px;
	background-size: cover;
	padding-right: 10px;
}

.navbaricon2 {
	fill: white;
	flex: 0.1;
	height: 40px;
	width: 40px;
	padding-right: 10px;
	background-size: cover;
	transform: scaleY(-1);
}

.actions {
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: left;
	box-sizing: border-box;
	/* width: 10%; */
}

.tableheader {
	flex: 0.9;
	text-align: left;
	margin-left: 5%;
}

@media (max-width: 850px) {
	.content {
		padding-left: 110px;
	}

	.header {
		display: none;
	}
}
