<div class="field">
    <div class="fieldnamecontainer">
        <span class=fieldnamecontainer>Name:</span>
    </div>
    <div class="inputfieldcontainer">
        <input class="inputfield" type="text" placeholder="Game Name" disabled="disabled">
    </div>
</div>
<div class="field">
    <div class="fieldnamecontainer">
        <span class=fieldnamecontainer>Date:</span>
    </div>
    <div class="inputfieldcontainer">
        <input class="inputfield" type="text" placeholder="Game Name" disabled="disabled">
    </div>
</div>
<div class="field">
    <div class="fieldnamecontainer">
        <span class=fieldnamecontainer>Offense:</span>
    </div>
    <div class="inputfieldcontainer">
        <input class="inputfield" type="text" placeholder="Game Name" disabled="disabled">
    </div>
</div>

<hr class="line">

<div class="textareafield">
    <div class="username">
        <span>Username:</span>
    </div>
    <textarea class="usernameText" type="text" placeholder="Pietje" disabled="disabled">{{username}}</textarea>
    <textarea class="message" type="text" placeholder="Henkie" disabled="disabled"></textarea>
</div>
