.blocked-users {
  width: 100%;
  display: flex;
  align-items: center;
}

.blocked-user-name {
  font-size: 18px;
  margin-right: 20px;
  margin-left: 20px;
  flex: 1;
}

.blocked-button-container {
  /* background-color: hotpink; */
  margin-left: 200px;
  flex: 1;
  margin-right: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

img {
  width: 50px;
  border-radius: 50%;
}

/* .profile-pic{
  background-color: tomato;
} */

button {
  color: white;
  font-size: 15px;
  background-color: rgba(120, 178, 255, 0.164);
  border: none;
  outline: none;
  border-radius: 7px;
  height: 35px;
  margin-left: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}

button:hover {
  background-color: rgb(80, 141, 158);
}

button:active {
  background-color: rgba(80, 141, 158, 0.5);
}

@media (max-width: 1600px){

  .unblock-button {
    width: 40px;
    height: 40px;
    background: url("https://cdn.discordapp.com/attachments/838036012969754674/848564015089451058/frtgyhujikolpkijuhyujikmolhnygtfrtgyhujikokijuhygt6rf5tgyhujikoijuhygtfrtgyhujikijuhygtfr5tgyhuji.png");
    background-size: contain;
    color: rgba(0, 0, 0, 0);
  }

  @media (max-width: 1200px){

    .blocked-users {
      flex: auto;
    }
  
    .blocked-user-name{
      margin-right: 10px;
      margin-left: 10px;
      white-space: nowrap;
    }
  
    .blocked-button-container {
      flex:auto;
      overflow: hidden;
      width: 25px;
      margin-left: 0px;
      margin-right: 0px;
      padding-left:0px;
      padding-right: 0px;
    }
  }


  
}
