.current-blocked-users {
    width: 100%;
    display: flex;
    align-items: center;
}

.blocked-users {
    display: flex;
    justify-content: center;
    flex: 1;
}

.blocked-user-name {
    font-size: 18px;
    margin-right: 20px;
    margin-left: 20px;
    flex: 1;
}

.blocked-button-container {
    flex: 1;
    margin-right: 20px;
    padding-left: 10%;
    padding-right: 5px;
}

img {
    width: 50px;
    border-radius: 50%;
}

button {
    cursor: pointer;
    color: white;
    font-size: 15px;
    background-color: rgba(120, 178, 255, 0.164);
    border: none;
    outline: none;
    border-radius: 50px;
    height: 35px;
    margin-right: 15px;
    padding: 8px 15px;
}

button:hover {
    background-color: rgb(80, 141, 158);
}

button:active {
    background-color: rgba(80, 141, 158, 0.5);
}

@media (max-width: 1600px) {
    .unblock-button {
        width: 40px;
        height: 40px;
        background: url("https://cdn.discordapp.com/attachments/838036012969754674/848564015089451058/frtgyhujikolpkijuhyujikmolhnygtfrtgyhujikokijuhygt6rf5tgyhujikoijuhygtfrtgyhujikijuhygtfr5tgyhuji.png");
        background-size: contain;
        color: rgba(0, 0, 0, 0);
    }
}

@media (max-width: 1200px) {
    .blocked-user-name {
        margin-right: 10px;
        margin-left: 10px;
        white-space: nowrap;
    }
}

@media (max-width: 800px) {
    .current-blocked-users {
        flex-direction: column;
        align-items: start;
        margin-top: 30px;
    }

    .blocked-button-container {
        padding-left: 0;
    }
}
