.blocked-users {
  width: 100%;
  display: flex;
  align-items: center;
}

.blocked-user-name {
  font-size: 18px;
  color: white;
  margin-right: 20px;
  flex: 1;
}

.unblock-button {
  margin-left: 200px;
  margin-right: 20px;
}

button {
  color: white;
  background-color: rgba(53, 49, 49, 0.1);
  border-radius: 7px;
  height: 35px;
  margin-left: 20px;
}

button:hover {
  background-color: rgba(53, 49, 49, 1);
}

button:active {
  background-color: rgba(53, 49, 49, 0.1);
}
